{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="POST">
        <div class="mb-4">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new-username" name="username" placeholder="New Username" type="text">
        </div>
        <div class="mb-4">
            <input class="form-control mx-auto w-auto" id="new-password-initial" name="password" placeholder="New Password" type="password">
        </div>
        <div class="mb-4">
            <input class="form-control mx-auto w-auto" id="new-password-check" name="confirmation" placeholder="Verify New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}